#include "header.h"
#include "parquet_engine.h"

<?foreach xagent?>
void write_parquet_data_$name(int iteration_no) {
    parquet_clear_buffer("$name");

    current_xmachine_$name = (*current_node_$name).xmachine_$name;
    while(current_xmachine_$name != NULL) {
        
        parquet_buffer_row(
            "$name", 
            iteration_no, 
            (long)(*current_xmachine_$name).id, 
            (double)(*current_xmachine_$name).value
        );
        
        current_xmachine_$name = (*current_xmachine_$name).next;
    }

    parquet_write_file("$name", iteration_no);
}
<?end foreach?>
